<table
  id="myTable"
  class="table table-striped table-bordered table-hover table-sm"
>
  <thead class="table-info">
    <tr>
      <th class="college-header" scope="col" (click)="sortTable()">
        College
        <i *ngIf="sortRow" class="bi bi-sort-alpha-down"></i>
        <i *ngIf="!sortRow" class="bi bi-sort-alpha-up"></i>
      </th>
      <th class="college-header" scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let item of colleges$ | async"> -->
    <!-- <tr *ngFor="let item of colleges$ | async | orderByPipe: 'name'"> -->
    <tr
      *ngFor="let item of colleges$ | async; let index = index"
      (click)="gotClicked(index, item)"
      [ngClass]="{ highlight: selectedRowIndex == index }"
    >
      <td>
        {{ item.name }}
      </td>
      <td>
        <a href="{{ item.web_pages[0] }}" target="_blank">{{
          item.web_pages[0]
        }}</a>
      </td>
    </tr>
  </tbody>
</table>
