<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="table-primary">
    <tr>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let country of countries$ | async; let index = index"
      [ngClass]="{ 'table-success': selectedRowIndex === index }"
    >
      <td
        tabindex="0"
        (click)="selectCountry(index, country, $event)"
        (keyup.enter)="selectCountry(index, country, $event)"
      >
        {{ country.display }}
      </td>
    </tr>
  </tbody>
</table>
